:root {
    --border-thickness: 2px;
    --border-color: #222;
    
    --project-item-width: 320px;
    --project-item-width-tablet: 320px;
    --project-item-width-mobile: 300px;
    --project-item-height: 256px;
    --project-item-height-tablet: 256px;
    --project-item-height-mobile: 240px;
    --project-first-size-mult: 1.75;
}

* {
    font-size: 20px; /* I like big letters */
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(lightcyan, aliceblue); /* Subtle, but pleasant */
    margin: 0px;
}

footer {
    margin: auto;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 1.25em;
}

header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    border-width: 0 0 var(--border-thickness) 0;
    border-style: solid;
    border-color: var(--border-color);
}

header figure {
    display: flex;
    flex-direction: column;
}

main {
    margin: 15px;
}

nav.vertical-spacer
{
    margin-bottom: 0;
}

nav a {
    color: #222;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-left: 16px;
    display: inline;
}

nav ul {
    margin-right: 20px;
    margin-top: auto;
    text-align: right;
}

.vertical-spacer
{
    margin-top: auto;
}

.work-item {
    /*width: var(--project-item-width);
    height: 480px;*/
    margin: 10px;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-item:first-child {
    width: calc(var(--project-item-width) * var(--project-first-size-mult));
    grid-column-start: auto;
    grid-column-end: span 2;
    grid-row-start: auto;
    grid-row-end: span 2;
    align-self: flex-start;
}

.work-item h3 {
    text-align: center;
}

.work-item a {
    display: block;
    width: var(--project-item-width);
    height: var(--project-item-height);
    flex: 1 1 auto;
}

.work-item:first-child a {
    width: calc(var(--project-item-width) * var(--project-first-size-mult));
    height: calc(var(--project-item-height) * var(--project-first-size-mult));
}

.work-item img {
    /* Needs to be 100% after adjusting for border */
    width: calc(100% - calc(2 * var(--border-thickness)));
    height: calc(100% - calc(2 * var(--border-thickness)));
    object-fit: cover;
    border: var(--border-thickness) solid var(--border-color);
}

.work-item p {
    display: none;
    padding-left: 5px;
}

.work-item:hover p {
    display: initial;
}

#portrait
{
    display: block;
    max-width: 250px;
    margin: auto;
    border: 6px ridge chocolate;
    box-shadow: 10px 8px 3px gray;
}

#header-right
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#header-right .vertical-spacer
{
    flex: 0 1 0;
}

#address {
    height: 33%;
    margin-left: 20px;
}

#address p {
    font-size: 2em;
    margin: 0;
    line-height: 1.5;
}

#project-showcase {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    place-items: start center;
    justify-content: space-between;
}

/*#main-project
{
    width: 600px;
}*/

/* Tablets */
@media screen and (max-width: 992px)
{
    header
    {
        /* Screen is too small for horizontal flexbox, so do vertical instead */
        flex-direction: column;
    }

    #address p {
        /* Since address is below portrait, the text looks better centered */
        text-align: center;
    }

    /* Slightly smaller area for projects... */
    #my-work {
        max-width: calc(calc(var(--project-item-width-tablet) * 2) + 40px);
    }

    /* ...And proportionately smaller project tiles */
    .work-item {
        width: var(--project-item-width-tablet);
    }

    .work-item a {
        width: 100%;
        height: var(--project-item-height-tablet);
        margin: 0 auto;
    }

    .work-item:first-child {
        width: calc(var(--project-item-width-tablet) * var(--project-first-size-mult));
        justify-self: stretch;
        flex-grow: 1;
    }

    .work-item:first-child a {
        height: calc(var(--project-item-height-tablet) * var(--project-first-size-mult));
    }

    #project-showcase {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    #my-work {
        max-width: calc(var(--project-item-width-mobile) * var(--project-first-size-mult));
    }

    .work-item {
        width: var(--project-item-width-mobile);
        margin: 0 auto;
    }

    .work-item a {
        width: 100%;
        height: var(--project-item-height-mobile);
        margin: 0 auto;
    }

    .work-item:first-child {
        width: calc(var(--project-item-width-mobile) * var(--project-first-size-mult));
    }

    .work-item:first-child a {
        height: calc(var(--project-item-height-mobile) * var(--project-first-size-mult));
    }

    #project-showcase
    {
        display: block;
    }
}