* {
    font-size: 20px; /* I like big letters */
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(lightcyan, aliceblue); /* Subtle, but pleasant */
    margin: 0px;
}

footer {
    margin: auto;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 1.25em;
}

header {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #222;
}

header figure {
    display: flex;
    flex-direction: column;
}

main {
    margin: 15px;
}

nav.vertical-spacer
{
    margin-bottom: 0;
}

nav a {
    color: #222;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-left: 16px;
    display: inline;
}

nav ul {
    margin-right: 20px;
    margin-top: auto;
    text-align: right;
}

.vertical-spacer
{
    margin-top: auto;
}

.work-item {
    width: 400px;
    margin: 10px;
}

.work-item h3 {
    text-align: center;
}

.work-item img {
    /* Needs to be 100% after adjusting for border */
    width: calc(100% - 4px);
    border: 2px solid #222;
}

.work-item p {
    display: none;
    padding-left: 5px;
}

.work-item:hover p {
    display: initial;
}

#portrait
{
    display: block;
    max-width: 250px;
    margin: auto;
    border: 6px ridge chocolate;
    box-shadow: 10px 8px 3px gray;
}

#header-right
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#header-right .vertical-spacer
{
    flex: 0 1 0;
}

#address {
    height: 33%;
    margin-left: 20px;
}

#address p {
    font-size: 2em;
    margin: 0;
    line-height: 1.5;
}

#project-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-project
{
    width: 600px;
}

@media screen and (max-width: 992px)
{
    header
    {
        /* Screen is too small for horizontal flexbox, so do vertical instead */
        flex-direction: column;
    }

    #address p {
        /* Since address is below portrait, the text looks better centered */
        text-align: center;
    }

    /* Slightly smaller area for projects... */
    #my-work {
        width: 750px;
    }

    /* ...And proportionately smaller project tiles */
    .work-item {
        width: 375px;
    }

    #main-project
    {
        width: 562.5px;
    }
}

@media screen and (max-width: 768px)
{
    #my-work {
        width: 600px;
    }

    .work-item {
        width: 375px;
        margin: 0 auto; /* center element horziontally*/
        /* Don't bother with floating elements, screen size is too small to try */
        display: block;
        float: none;
    }

    #main-project
    {
        width: 562.5px;
    }
}