* {
    font-size: 20px; /* I like big letters */
    font-family: 'Times New Roman', Times, serif;
    box-sizing: content-box;
}

body {
    background-color: aliceblue;
    margin: 0px;
    width: 100%
}

footer {
    margin: auto;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.75em;
}

header {
    background-color: lightblue;
    display: flex;
    align-items: stretch;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #222;
}

header figure {
    display: flex;
    flex-direction: column;
}

main {
    margin: 15px;
}

nav a {
    color: #222;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-left: 16px;
    width: 100%;
    display: inline;
}

nav ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.grow-to-fit {
    flex-grow: 1;
}

#portrait
{
    display: block;
    max-width: 500px;
    margin: auto;
    border: 6px ridge chocolate;
    box-shadow: 10px 8px 3px gray;
}

#header-right-flexbox
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
}

#header-right-flexbox nav {
    height: 100px;
}

#address {
    position: relative;
}

#address p {
    font-size: 2em;
    margin: 0;
    line-height: 1.5;
}