* {
    font-size: 20px; /* I like big letters */
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(lightcyan, aliceblue);
    margin: 0px;
}

footer {
    margin: auto;
}

footer h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.75em;
}

header {
    background-color: lightblue;
    display: flex;
    position: relative;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #222;
}

header figure {
    display: flex;
    flex-direction: column;
}

main {
    margin: 15px;
}

nav a {
    color: #222;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-left: 16px;
    display: inline;
}

nav ul {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.grow-to-fit {
    flex-grow: 1;
}

.work-item {
    width: 400px;
    height: 320px;
    margin: 0;
    float: left;
    display: inline;
}

.work-item img {
    height: 100%;
}

#portrait
{
    display: block;
    max-width: 350px;
    margin: auto;
    border: 6px ridge chocolate;
    box-shadow: 10px 8px 3px gray;
}

#header-right
{
    flex-grow: 1;
    margin: auto 0;
}

#address {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    flex-grow: 1;
}

#address p {
    font-size: 2em;
    margin: 0;
    line-height: 1.5;
}

#my-work {
    /*display: inline-block;*/
    width: 100%;
}

#main-project
{
    width: 800px;
    height: 640px;
    margin: 0;
}

#my-experience {
    clear: left;
}

@media screen and (max-width: 992px)
{
    /*#my-work {
        width: 750px;
    }*/

    /*.work-item {
        width: 375px;
        height: 300px;
    }

    #main-project
    {
        width: 750px;
        height: 600px;
    }*/
}

@media screen and (max-width: 768px)
{
    #my-work {
        width: 600px;
    }

    .work-item {
        width: 480px;
        height: 384px;
        margin: 0 auto; /* center element horziontally*/
        /* Don't bother with float, screen size is too small to try */
        display: block;
        float: none;
    }

    #main-project
    {
        width: 600px;
        height: 480px;
    }
}